<h1>
  User: <%= @user.name %>
</h1>

<h2>
 Email: <%= @user.email %>
</h2>

<div class="col-md-8">
  <%= render partial:'items/form', locals: {user: @user, item: @item} %>
</div>


<div class="col-md-8">
  <h2> <%= current_user.name %> todos </h3>
  <div class = "row">
    <div  class = "col-md-12">
      <table id="items" class="table">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Days left</th>
            <th scope="col">Complete</th>
          </tr>
          <%= render @items %>
        </thead>
      </table>

    </div>
  </div>
</div>
