
<% if current_user == @user %>
  <h1>
    User: <%= current_user.name %>
  </h1>

  <h2>
   Email: <%= current_user.email %>
  </h2>

<<<<<<< HEAD
<% else %>
  <h1>Oops! You've reached an invalid page, please go back!</h1>
<% end %>
||||||| merged common ancestors

<div class="col-md-8">
  <%= render partial:'items/item', locals:{user: @user, items: @items} %>
</div>
=======

<div class="col-md-8">
  <h2> <%= current_user.name %> To Do Items </h3>
  <div class = "row">
    <div id="items" class = "col-md-12">
      <%= render @items %>
    </div>
  </div>

</div>
>>>>>>> Delete_expired_items
