<!DOCTYPE html>
<html>
  <head>
    <title>Checkitoff</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <span class="navbar-brand"> Checkitoff </span>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <span class="navbar-text">signed in as: <strong><%= current_user.email %></strong></span>
            <li class="nav-item"><%= link_to 'edit profile', users_show_url(:id => current_user), class:'nav-link' %></li>
            <li class="nav-item"><%= link_to 'sign out', destroy_user_session_path, method: :delete, class:'nav-link' %></li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class:'nav-link' %></li>
            <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class:'nav-link' %></li>
          <% end %>
        </ul>
      </nav>
      <div id="flash-messages">
        <%= render partial: 'shared/flash', flash: flash %>
      </div>
      <%= yield %>
    </div>
</html>
